.ngrid {
    background-color: var(--background);
}

.ngrid__container {
    overflow-x: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

table.ngrid {
    border-collapse: collapse;
}

.ngrid th {
    border-bottom: 1px solid var(--border);
    text-align: start;
    padding: var(--space-3) var(--space-2);
    background-color: var(--background);
}
.ngrid td {
    padding: var(--space-2);
    background-color: var(--background);
}
.ngrid tr:nth-child(even) td {
    background-color: var(--background-even);
}

.ngrid__col--frozen {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}
